<h3>
    The password to all databases is: 1234
</h3>

<mat-card>
    <mat-card-title>akldhajsdh</mat-card-title>
    <button routerLink="/login">Login-eager</button>
</mat-card>

<mat-card>
    dlasdla
    <button routerLink="/pre">Pre</button>
</mat-card>

<mat-card>
    aösldjaölsdkö
    <button routerLink="/lib">Library</button>
</mat-card>

<mat-card>
    <button routerLink="">Logout</button>
</mat-card>

<mat-card>
    <button (click)="lazyLoadModulde()">Dynamic Lazy Load</button>
</mat-card>

<div>
    hamed
    <router-outlet></router-outlet>
</div>

<app-shared-test></app-shared-test>