<h3>
  The password to all databases is: 1234
</h3>

<mat-card>
  <button mat-raised-button routerLink="/pre">Pre</button>
  <img src="../../../assets/2.jpg" mat-card-image>
</mat-card>

<mat-card>
  <button mat-raised-button routerLink="/lib">Library</button>
  <img src="../../../assets/3.jpg" mat-card-image>
</mat-card>

<mat-card>
  <button mat-raised-button (click)="lazyLoadModulde()">Dynamic Lazy Load</button>
  <img src="../../../assets/4.jpg" mat-card-image>
</mat-card>

<div class="lazyElementAnchor"></div>

<mat-card class="logout">
  <button mat-raised-button routerLink="/login">Logout</button>
</mat-card>

<!--<app-shared-test></app-shared-test>-->
